/**UNIVERSAL
===========================================================================**/

html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mitr', sans-serif;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	font-variant: small-caps;
}

h2 {
	font-size: 54px;
	font-weight: bold;
}

h3 {
	font-size: 42px;
	font-weight: normal;
}


/**HEADER
===========================================================================**/

header {
	height: 64px;
	width: 100%;
}

header * {
	display: inline-block;
}

.page-title {
	text-align: left;
	height: 32px;
	margin: 16px auto;
	padding-left: 24px;
	vertical-align: middle;
}

.page-title img {
	vertical-align: middle;
}

.page-title h1 {
	vertical-align: middle;
	line-height: 1;
	height: 32px;
}

.academy {
	font-weight: lighter;
}

nav {
	text-align: right;
	height: 32px;
	margin: 16px auto;
	padding-right: 24px;
	float: right;
	font-size: 24px;
	line-height: 1;

}

.nav li {
	padding-left: 16px;
	vertical-align: middle;
}

.nav-link {
	text-decoration: none;
}

/**CONTENT*
===========================================================================*/

.content-panel {
	width: 100%;
	height: auto;
}

/**BANNER
===========================================================================**/

.banner {
	background-color: Gainsboro;
}
.banner img {
	display: inline-block;
	width: 60%;
	height: auto;
	padding: 32px 24px;
	vertical-align: middle;
}

.banner-content {
	display: inline-block;
	margin: auto;
	max-width: 38%;
	vertical-align: middle;
}

.banner-content > * {
padding: 12px 0px;
margin: auto;
}

.button {
	background-color: darkslategray;
	color: white;
	border: 2px solid black;
	width: 100%;
	margin: 12px 0 0 0;
	text-align: center;
	font-weight: 200;
}

.button span {
	margin: 8px auto;
}

/**INFORMATION
===========================================================================**/

.information-main {
	display: inline-block;
	width: 60%;
	height: auto;
	padding: 32px 24px;
	vertical-align: middle;
}

.information-main img {
	width: 100%;
	height: auto;
}
